CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_dep
build
.vscode/settings.json
.vscode
a.out
_deps
libs
lib/
ArrayPerformance
UnitTestRunner

